body {
	background: #f8e8a6;
}
h1,
p {
	text-align: center;
}
.links a {
	margin: 15px;
	color: #7cb453;
}
p {
	max-width: 80%;
	margin: 0 auto;
}
img {
	display: block;
	margin: 0 auto;
	border-radius: 10px;
	width: 80%;
}
.links {
	display: flex;
	justify-content: center;
}
